<h3>Products</h3>

<ul>
  {{#each model as |product|}}
    <li>
      [{{product.name}}] - Components:
      {{#each product.components as |component index|}}
        ({{index}}) {{component.name}},
      {{/each}}
    </li>
  {{/each}}
</ul>
