<h3>Products</h3>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Components</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td>{{link-to 'New Product' 'new-product'}}</td>
      <td>{{link-to 'New Component' 'new-component'}}</td>
    </tr>
  </tfoot>
  <tbody>
    {{#each model as |product|}}
      <tr>
        <td>{{product.name}}</td>
        <td>
          {{#each product.components as |component|}}
            {{component.name}},
          {{/each}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

<hr />

